.env
*.env
*_key
.ait_key
.ollama_key
*.pem
id_rsa
id_ed25519
host_loot*
.ak_token.py
.spray_linux.py
.dot4_probe.py
.d4s.py
pg_psql_data/
pgvector_data/
_dbdump/
*.tar.gz
*.tar
__pycache__/
*.pyc

*.jsonl
langflow/app/src/*.jsonl
langflow/app/langflow/**/*.jsonl